.header-top{
  font-size: 0.95em;
  align-items: center;
  height: 3em;
}


.nav-main{
  padding: 30px;
  border-bottom: 1px solid var(--dark);
}
.nav-main .links a{
  margin-right: 20px;
}
.nav-main .profile a{
  margin-left: 20px;
}

.hover-effect{
  font-family: var(--font-medium);
  font-size: 14px;
  position: relative;
  text-decoration: none;
}
.hover-effect:hover{
  color: var(--dark);
  cursor: pointer;
}
.hover-effect::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  background: var(--dark);
  left: 0%;
  top: 100%;
  transition: all 0.3s;
}
.hover-effect:hover::before{
  width: 100%;
}