.bg-dark{
  background: var(--dark);
}

.bg-light{
  background: #D6D5CB;
}

.font-light{
  color: var(--light);
}

.hover-light{
  color: var(--light);
}

.font-dark{
  color: var(--dark);
}

.font-dark-secondary{
  color: var(--secondary-dark);
}

.font-bold{
  font-weight: 500;
}

.anchor{
  text-decoration: none;
}

.ico{
  margin-left: 12px;
  font-size: 1.3em;
}

.w-10{
  width: 10%;
}

.border{
  border: 1px solid var(--dark);
}

.rot-45{
  margin-left: 10px;
  transform: rotate(-45deg);
}

.font-head{
  font-size: 15px;
  line-height: 30px;
  word-spacing: 0px;

  padding-bottom: 12px;
  border-bottom: 2px solid var(--light);
}

.font-li{
  font-size: 14px;
}

.ml-2{
  margin-left: 10px;
}
