:root{

  /*------- Declaring color variables -------*/
  --dark : #252525;
  --secondary-dark : #666666;
  --secondary-light : #D6D5CB;
  --light : #FFFEF2;
  /*-----------------------------------------*/


  /*-------- Declaring Font Variable -------*/
  --font-main: "Suisse Intl";
  --font-medium : "Suisse Int'l Medium";
  /*----------------------------------------*/
}

body {
  margin: 0;
  padding: 0px;

  box-sizing: border-box;

  background: var(--light);
}

